<div id='game'>
  <nav>
    <ul>
      <li selected>
        <a href="">Play Game</a>
      </li>
      <li>
        <a href="#/scores">High Scores</a>
      </li>
      <li>
        <a href="" ng-click="signout()">Logout</a>
      </li>
    </ul>
  </nav>
  <div id="display">
    <div class='currentScores'>
      <div class='score'>
        Score: <span class='points'>{{ scoreboard.points }}</span>
      </div>
      <div class='timer'>
        Time Remaining: <span class='time'>{{ scoreboard.time }}</span>
      </div>
    </div>
    <div class="bestScore">
      Personal Best: <span class='best'>{{bestScore}}</span>
    </div>
    <button ng-click="startgame()" ng-hide="!!scoreboard.time">Start Game</button>
  </div>
  <div id='arena'>
    <img id="cart" my-cart src="./assets/blue_cart.png"/>
    <img class='enemy' ng-repeat="enemy in enemies" style="top:{{enemy.top+'px'}}; left:{{enemy.left+'px'}}"  src="./assets/dollar_sign.png"/>
  </div>
</div>