/** {
  border: 1px solid black;
}*/

body {
  font-family: Helvetica;
}

#arena {
  position: relative;
  width: 500px;
  height: 500px;
  background-image: url("./assets/shelf_background.png");
  clear: both;
  margin-top: 15px;
  margin-left: 5px;
}

.enemy {
  width: 20px;
  height: 30px;
  /*background-color: blue;*/
  /*border-radius: 20px;*/
  position: absolute;
  /*top: 100px;*/
  /*left: 100px;*/
}

#cart {
  width: 50px;
  /*height: 40px;*/
  /*background-color: orange;*/
  /*border-radius: 40px;*/
  position: absolute;
  /*top: 150px;
  left: 150px;*/
}

nav {
  /*background-color: #DDDDDD;*/
}

nav li {
  list-style-type: none;
  display: inline-block;
  height: 50px;
  width: 100px;
  border: 5px solid #33ccff;
  border-radius: 10px;
  margin-right: 15px;
}

li[selected] {
  background-color: #DDDDDD;
}

li:hover {
  background-color: #BBBBBB;
}

nav li a {
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
  display: block;
  font-weight: bold;
  color: black;
  height: 40px;
}

#display button {
  float: left;
  margin-left: 80px;
  height: 25px;
  /*display: inline-block;*/
}

#display button:hover {
  background-color: #BBBBBB;
}

#display .currentScores {
  float: left;
  margin-left: 5px;
  /*display: inline-block;*/
}

#display .bestScore {
  float: left;
  margin-left: 65px;
}

h3 {
  margin-left: 100px;
}

#highScores {
  margin-left: 5px;
}

td {
  text-align: center;
}

table tr:nth-child(2n) {
  background-color: #DDDDDD;
}

h1 {
  margin-left: 50px;
}

span {
  font-weight: bold;
}


